
*{
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  
}

.App {
  background-color: #171010 ;
  
}

h3{
  color:#fff;
  font-size: 2rem;
}

h2 {
  font-size: 2.5rem;
}

h1 {
  font-size: 2.5rem;
}

.header {
  width: 100%;

  }

.navbar {
  color: #FFF;
  display: flex;
  align-items: center;
  height: 40px;
  }

.navbar > ul {
  list-style-type: none;
  display: flex;
  padding-right: 500px;
  
}

.material-symbols-outlined {
  font-size:4vh;
  display: none;
}

li {
 padding: 15px;
 font-weight:500;
 font-size: 3vh
}
.hr-div {
  height: 1px;
  background-color: #9b8989;
  width: 1700px;
}
.hr-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.main-content{
  color: #FFF;
  height: 800px;
  display: grid;
  justify-content: center;
  align-items: center;
  
}
.movie-card {
  display: flex;
  background-color: #383535;
  border-radius: 5px;
  
}
.movie-img {
  width: 25%;
  position: relative;
  border-radius: 10px;
}

.movie-items {
  position: relative;
  right: 15vh;
  font-size: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr ;

}

.footer {
  height: 15vh;
  
}


